@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
nav {
    position: absolute;
    top: 1em;
    background-color: #a5744c !important;
    z-index: 20;
}

.navPersonalize {
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 12px;
}

.navbar-brand {
    color: white !important;
}

.nav-link {
    color: white !important;
}

.b-ballon {
    background-image: url('../assets/images/ballons.png');
}

.b-4 {
    background-image: url('../assets/images/cookies.jpg');
}

.b-5 {
    height: 10em;
    background-image: url('../assets/images/taller.jpg');
}

.background {
    background-attachment: inherit;
    background-size: cover;
    background-position-x: 50%;
}

.hg {
    height: 400px;
    border-right: 2px dashed white;
    font-family: 'Dancing Script', cursive;
}

.text-p {
    position: relative;
    top: 65%;
    text-align: center;
    font-size: 40px;
    background: #5b4d4ccc;
    height: 125px;
    border-radius: 7px;
    color: #ffb0a2;
}

.border {
    border-radius: 10px;
}

.align-center {
    text-align: center;
}

.title-snd {
    font-size: 71px;
    padding-top: 14px;
    font-family: 'Dancing Script', cursive;
}

.h-snd {
    padding-top: 1em;
}

.heading {
    text-align: center;
    font-size: 40px;
    padding: 10px;
}

.location,
.date {
    font-size: 12px;
    color: #9b9b9b;
}

.title {
    font-size: 20px;
    text-align: center;
    color: #2e2220;
}

.navStyle {
    position: absolute;
    top: 0;
}

.titleEvents {
    background: #c1ac9e96;
    color: white;
    margin: 10px 0px 10px;
    -webkit-box-shadow: -7px -5px 41px -16px rgba(56, 56, 56, 1);
    -moz-box-shadow: -7px -5px 41px -16px rgba(56, 56, 56, 1);
    box-shadow: -7px -5px 41px -16px rgba(56, 56, 56, 1);
}

.form {
    padding: 2em;
    border: 1px solid #e2e2e2;
}

.cardEvent {
    padding: 0px !important;
}

.card-text {
    font-size: 14px;
}

.notice {
    font-size: 18px;
    text-align: center;
    padding: 3em;
    ;
}